<h1>Sbírky</h1>
<table style="border-collapse: collapse" class="oramovat">
  <tr>
    <td width="300px">TELEONNÍ KARTY</td>
    <td width="200px"></td>
  </tr>
  <tr>
    <td>ZÁPALKOVÉ NÁLEPKY</td>
    <td></td>
  </tr>
  <tr>
    <td>ZNÁMKY</td>
    <td></td>
  </tr>
  <tr>
    <td>ODZNAKY</td>
    <td></td>
  </tr>
  <tr>
    <td>POHLEDNICE</td>
    <td></td>
  </tr>
  <tr>
    <td>PIVNÍ TÁCKY</td>
    <td></td>
  </tr>
  <tr>
    <td>HLAVOLAMY</td>
    <td></td>
  </tr>
  <tr>
    <td>MINCE</td>
    <td></td>
  </tr>
  <tr>
    <td>PAPÍROVÉ PENÍZE</td>
    <td></td>
  </tr>
  <tr>
    <td>PLAKÁTY</td>
    <td></td>
  </tr>
  <tr>
    <td>NÁSTĚNNÉ OBRAZY</td>
    <td></td>
  </tr>
  <tr>
    <td>FOTOKOMORA VYBAVENÍ</td>
    <td></td>
  </tr>
  <tr>
    <td>FOTONOVINY MNV</td>
    <td></td>
  </tr>
  <tr>
    <td>ELEKTRO DOPLŇKY</td>
    <td></td>
  </tr>
  <tr>
    <td>NÁVODY V PDF  NA HDD A V  PC</td>
    <td></td>
  </tr>
</table>

<p><%= link_to 'Hlavní', main_index_path %></p>