<h1>Technika</h1>
<br/>
<table style="border-collapse: collapse" class="oramovat">
  <tr>
    <td width="300px">MAGNETOFONY</td>
    <td width="200px">PÁSKOVÉ</td>
  </tr>
  <tr>
    <td></td>
    <td>KAZETOVÉ</td>
  </tr>
  <tr>
    <td>GRAMOFONY</td>
    <td></td>
  </tr>
  <tr>
    <td>RÁDIA</td>
    <td></td>
  </tr>
  <tr>
    <td>HUDEBNÍ SKŘÍNĚ</td>
    <td></td>
  </tr>
  <tr>
    <td>VIDEA</td>
    <td></td>
  </tr>
  <tr>
    <td>DVD REC</td>
    <td></td>
  </tr>
  <tr>
    <td>PROJEKTORY</td>
    <td>DIAPOZITIVY RÁMEČKY</td>
  </tr>
  <tr>
    <td></td>
    <td>DIAFILMY</td>
  </tr>
  <tr>
    <td></td>
    <td>FILMY 8 mm</td>
  </tr>
  <tr>
    <td></td>
    <td>FILMY 16 mm</td>
  </tr>
  <tr>
    <td></td>
    <td>ZVĚTŠOVÁKY</td>
  </tr>
  <tr>
    <td>FOTOAPARÁTY</td>
    <td></td>
  </tr>
  <tr>
    <td>MĚŘÍCÍ PŘÍSTROJE</td>
    <td></td>
  </tr>
  <tr>
    <td>STAVEBNICE ELEKTRO</td>
    <td></td>
  </tr>
  <tr>
    <td>TELEKOMUNIKACE</td>
    <td>ÚSTŘEDNA</td>
  </tr>
  <tr>
    <td></td>
    <td>TELEFONY</td>
  </tr>
  <tr>
    <td>ZDROJE NAPĚTÍ</td>
    <td></td>
  </tr>
  <tr>
    <td>REPRODUKTORY</td>
    <td></td>
  </tr>
  <tr>
    <td>ŠKOLNÍ MODELY</td>
    <td></td>
  </tr>
  <tr>
    <td>PSACÍ STROJE</td>
    <td></td>
  </tr>
  <tr>
    <td>STROJE A ZAŘÍZENÍ DÍLNY</td>
    <td></td>
  </tr>
</table>
<p><%= link_to 'Hlavní', main_index_path %></p>