<h1>Datové Nosiče</h1>
<table style="border-collapse: collapse" class="oramovat">
  <tr>
    <td width="300px">MAGNETOFONOVÉ PÁSKY</td>
    <td width="200px"></td>
  </tr>
  <tr>
    <td>MAGNETOFONOVÉ KAZETY</td>
    <td>CC</td>
  </tr>
  <tr>
    <td>GRAMOFONOVÉ DESKY</td>
    <td>ŠELAK</td>
  </tr>
  <tr>
    <td></td>
    <td>VINYL</td>
    <td>LP</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>EP</td>
  </tr>
  <tr>
    <td>KOMPAKTNÍ DISK</td>
    <td>HUDEBNÍ</td>
  </tr>
  <tr>
    <td></td>
    <td>DATOVÉ</td>
  </tr>
  <tr>
    <td>DVD</td>
    <td>FILMOVÉ</td>
  </tr>
  <tr>
    <td></td>
    <td>DATOVÉ</td>
  </tr>
  <tr>
    <td>VIDEO KAZETY</td>
    <td>VHS</td>
  </tr>
  <tr>
    <td></td>
    <td>V 2000</td>
  </tr>
  <tr>
    <td>HDD EXTERNÍ</td>
    <td></td>
  </tr>
  <tr>
    <td>FILMOVÉ NEGATIVY</td>
    <td>6 X 6</td>
  </tr>
  <tr>
    <td></td>
    <td>KINOFILM 35mm</td>
  </tr>
  <tr>
    <td>DIAPOSITIVY</td>
    <td>DIARÁMEČKY</td>
  </tr>
  <tr>
    <td></td>
    <td>DIAFILM  35 mm</td>
  </tr>
  <tr>
    <td>FILMY</td>
    <td>8 mm</td>
  </tr>
  <tr>
    <td></td>
    <td>16 mm</td>
  </tr>
  <tr>
    <td>ALBA NA FOTOGRAFIE</td>
    <td></td>
  </tr>
</table>

<p><%= link_to 'Hlavní', main_index_path %></p>