<p id="notice"><%= notice %></p>

<p>
  <strong>Nazev:</strong>
  <%= @nakladatelstvi.nazev %>
</p>

<%= link_to 'Edit', edit_nakladatelstvi_path(@nakladatelstvi) %> |
<%= link_to 'Back', nakladatelstvi_index_path %>
